h1,
h2,
.button {
	text-align: center;
}

h1, h2 {
    font-weight: bold;
}

.jumbotron {
    background-color: #3f5c9a;
    color: white;
}

body {
    background-color: #e9ebee;
}

.chosen-select {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    /* border: 1px solid transparent; */
    border-radius: 4px;
    cursor: pointer;
}

img {
    display: block;
    margin: auto;
    width: 40%;
}